my/
*.out
download.py
download.rb
test/
*.in
in
out
ans
*.out
.ccls
.vscode/
toy/
*.gch
memo.ipynb
atcoder/ac-library/
library/compe-library.cr/
.python-version
crystal-env/shard.lock

# Rust
Cargo.*
target/

# AHC
tools/
vis/
in/
out/
